*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

* {box-sizing:border-box}


.main-image {
    background: url(https://images.unsplash.com/photo-1588777930357-fb171e43f7ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)no-repeat;
    background-size: 100%;
    overflow: hidden;

}

.section {
    padding-top: 84px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.centered {
    position: absolute;
    color: white;
    padding: 200px 100px;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.another-section {
    padding: 80px;
    text-align: left;
    line-height: 30px;
    font-size: 15px;
    overflow: hidden;
}
.another-inner-section{
    padding: 30px;
}
.section1 {
    padding: 30px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.about-us-1{
    background: url(https://images.unsplash.com/photo-1571333247701-6bb4d7314edd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80) no-repeat left;
    background-size: 55%;
    overflow: hidden;
    padding: 100px 0;
}
.inner-section-1{
    width: 55%;
    float: right;
    background-color: #e7c99d;
    padding: 140px;
    box-shadow: 13px 12px 8px rgba(0,0,0,0.3);
}
.inner-section-1 h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.section2{
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 30px;
}
.about-us-2{
    background: url(https://images.unsplash.com/photo-1528629297340-d1d466945dc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2122&q=80) no-repeat right;
    background-size: 55%;
    overflow: hidden;
    padding: 100px 0;
}
.inner-section-2{
    width: 55%;
    float: left;
    background-color: #f7dede;
    padding: 140px;
    box-shadow: 12px 13px 8px rgba(0,0,0,0.3);
}
.inner-section-2 h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 15px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

@media screen and (max-width:1200px){
    .centered{
        font-size: 35px;
    }
    .another-inner-section{
        padding: 80px;
    }
    
    .inner-section-1{
        padding: 80px;
    }
    .inner-section-2{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){

    .centered{
        font-size: 20px;
        padding: 40px;
    }
    .section{
        padding: 84px 0 0;
    }
    .about-us-1{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section-1{
        width: 100%;
    }
    .about-us-2{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section-2{
        width: 100%;
    }


}

@media screen and (max-width:600px){
    .centered{
        font-size: 20px;
        padding: 5px;
    }
    .about-us-1{
        padding: 0;
        margin:0;
    }
    .inner-section-1{
        padding: 60px;
        margin: 0;
    }
    .about-us-2{
        padding: 0;
    }
    .inner-section-2{
        padding: 60px;
    }   
}

